DB_HOST=\localhost
DB_PORT=5432
DB_NAME=DBNAME
DB_USER=USER
DB_PASSWORD=PASSWORD
GOOGLE_CREDENTIALS_FILE=google\credential.json
GOOGLE_TOKEN_FILE=google\token.json
GOOGLE_SPREADSHEET_ID= "ID DA PLANILHA A SER REQUERIDA"
DIR_CRED_GOOGLE = ~\app\google
DIR_SERVICES = ~\app\services